<div class="sign-up-page-container">
<div id="clearance-signup-page" class="sign-in">
  <h4 class="modal-title text-center" id="sign-in-modal">Log In</h4>


  <%= render partial: '/sessions/form' %>

</div>

	<div style="width: 95%; height: 20px; border-bottom: 1px solid black; text-align: center; margin-top: 6px; position: relative; left: 50%; transform: translateX(-50%);">
            <span style="font-size: 20px; background-color: white; padding: 0 10px; font-family:'Raleway'; position:relative; top:3px;">
                or <!--Padding is optional-->
            </span>
    </div>

	<% if !signed_in? %>
  	<div class="container sign-in-page">
          <div class="row">
            <div class="col-md-6"><%= link_to raw('<i class="fa fa-facebook-official" aria-hidden="true"></i> Sign up with Facebook'), "/auth/facebook", class:"btn social-login" %></div>
            <div class="col-md-6"><%= link_to raw('<i class="fa fa-google" aria-hidden="true"></i> Sign up with Google'), "/auth/google_oauth2", class:"btn social-login" %></div>
          </div>
     </div>
        <% end %>

        <div class="signup-page-footer">
          <p>Don't have an account? <%= link_to "Sign up", sign_up_path %></p>
        </div>

</div>

