<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1>Congratulation! You have received a booking from <%= @customer.email %></h1>
	<p>You can see more booking details at: <a href="<%= @url %>" target="_blank"><%= @url %></a></p>
</body>
</html>