<div class="page-container">
  <div class="jumbotron jumbotron-chatroom">
    <div>
      <p class="text-center"><%=link_to "Return to previous page", user_path(params[:user_id])%></p>
      <h1 class="text-center" style="font-family:Work Sans">Talk To Niroes Community</h1>
    <div class="chatbox-container align-center">
      <div class="message-history align-center" id="messages">
        <% @messages.each do |m| %>
          <%= render partial: 'messages/message', locals: { message: m } %>
        <% end %>
      </div>
      <div class="input-box align-center">
        <input type="text" class="input-box_text" id="message_input"/>
      </div>
    </div>
  </div>
</div>
</div>
