<div class="page-container">
  <div class="jumbotron">
  </div>

  <div class="container">
    <div class="chatbox-container align-center">
      <div class="message-history align-center" id="messages">
        <% @messages.each do |m| %>
          <%= render partial: 'messages/message', locals: { message: m } %>
        <% end %>
      </div>
      <div class="input-box align-center">
        <input type="text" class="input-box_text" id="message_input"/>
      </div>
    </div>
  </div>
</div>
