.page-container {
  background-color: #e6e6fa;
}

.input-box {
  width: 80%;
  margin:0;
}

.message-history {
  height: 500px;
  overflow: scroll;
  margin: 0;
}

.chatbox-container {
  padding:5%;
  background-color:white;
  width: 60%;
  margin-bottom: 50px;
  box-shadow: 2px 2px 5px 2px grey;
}

.message_content {
  color:white;
}

.message_timestap {
  color:white;
}

.speech-bubble {
	position: relative;
	background: #02bb07;
	border-radius: .4em;
  border-bottom: 50px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 11px solid transparent;
	border-right-color: #02bb07;
	border-left: 0;
	border-bottom: 50px;
	margin-top: -5px;
	margin-left: -11px;
}

.speech-bubble-right {
	position: relative;
	background: #dcf8c6;
	border-radius: .4em;
}

.speech-bubble-right:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-left-color: #dcf8c6;
	border-right: 0;
	border-bottom: 0;
	margin-top: -5px;
	margin-right: -10px;
}

.message-history {
  margin-bottom: 25px;
}

.jumbotron-chatroom {
  background-image: asset_url("chat-background2.png");
  background-repeat:no-repeat;
  background-size: cover;
}
