// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.event-main-content {
  display: flex;
  margin: 50px 0;
}

.event-content-left {
  width:60%;
  display: flex;
  flex-direction: column;
  margin: 0 5px;
}

.event-content-right {
  width:40%;
  margin: 0 5px;
}

.event-head {
  display: flex;
}

.event-head-1 {
  width: 75%;
}

.event-head-2 {
  width: 25%;
  display: flex;
  flex-flow: column;
  justify-content:center;
  align-items:center;
}

.booking-form, .event-allocated-points, .badge-box, .host-rewards-box, {
  padding: 10px 30px 10px 30px;
  width: 100%;
  margin: 7.5px 0;
}

.event-action-box {
  // border: 2px solid grey;
  box-shadow: 3px 5px 10px 2px grey;
}

.required-participants-count h1 {
  color: red;
  font-size: 4.5em;
}

.actual-participants-count h1{
  color: green;
  font-size: 4.5em;
}

.event-participants-list {
  border: 2px solid grey;
  border-radius: 5px;
  padding: 20px;
  margin: 50px 0;
  background-color: white;
}

.event-participants-list-box {
  background-color: #ececFF;
}

.event-chat-box {
  font-family:sans-serif;
  margin-bottom: 150px;
}

.modal-body {
  min-height: 200px;

}

.each-event-message-box {
  font-size: 18px;
  border: 1px solid #ececec;
}

.list-all-event-message {
  padding: 10px;
  margin: 10px;
}

.event-description-box {
  padding:0 10px;
}

#event-specific-badge {
  margin:20px 0;
  box-shadow: 3px 5px 5px 3px grey;
}

#event-message-user-avatar {
  border-radius: 50%;
  width:40%;
}

.each-event-message-box {
  padding:25px;
  border: none;
  box-shadow: 3px 3px 5px 3px grey;
  margin: 10px;
  height: 350px;
  background-color: #ffc;
}


.sticky-note h2{
  font-size:60%;
  font-weight:normal;
}

.sticky-note p{
  font-size:50%;
  font-weight:normal;
}
.sticky-note ul,li{
  list-style:none;
  margin:1em;
  float:left;
}

.sticky-note ul{
  overflow:hidden;
  padding:3em;
}
.sticky-note ul li {
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:13em;
  width:13em;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -moz-transition:-moz-transform .15s linear;
    -o-transition:-o-transform .15s linear;
    -webkit-transition:-webkit-transform .15s linear;
}

.sticky-note ul li:nth-child(even) {
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
.sticky-note ul li:nth-child(3n) {
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}
.sticky-note ul li:nth-child(5n) {
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}

.sticky-note ul li:hover,.sticky-note ul li:focus{
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  position:relative;
  z-index:5;
}

.event-form-background {
  background-image: asset_url("event-form-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.new-list-box {
  background-color: white;
  margin-bottom: 50px;
  opacity: 0.85;
}
