// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.event-main-content {
  display: flex;
  margin: 50px 0;
}

.event-content-left {
  width:60%;
  display: flex;
  flex-direction: column;
  margin: 0 5px;
}

.event-content-right {
  width:40%;
  margin: 0 5px;
}

.event-head {
  display: flex;
}

.event-head-1 {
  width: 75%;
}

.event-head-2 {
  width: 25%;
  display: flex;
  flex-flow: column;
  justify-content:center;
  align-items:center;
}

.booking-form, .event-allocated-points, .badge-box, .host-rewards-box{
  border: solid 1px #ececec;
  padding: 10px 30px 10px 30px;
  width: 100%;
  margin: 7.5px 0;
}
