// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-gif {
  height: 600px;
  background-image: asset_url("niro-home-banner1.gif");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

.jumbotron-home {
  background-color: #d1a1c2;
}

.banner-content {
  color: white;
  height: 800px;
  padding-top: 8%;

}

#each-leader {
  width:60%;
  border-radius:50%;
  padding:2.5%;
  margin:10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.leader-board {
  margin-bottom:50px
}

.leader-box {
  padding:25px 0;
}

.each-leader {
  margin-bottom: 25px;
}

.leader-info strong {
  font-size: 1.5em;
}

.home-page-star {
  width: 25%;
  margin-bottom: -25px;
}

.home-box-title h1 {
  font-size: 3em;
}
.home-box-title h4 {
  font-size: 2em;
  color: #b784A7;
}

.home-org-box {
  border-top: 2px solid #ececec;
}

.list-group {
  margin-top: 25px;
}

.thumbnail {
  border: none;
}

.home-event-date {
  border-right: 2px solid #ececec;
}

#myFooter {
  background-color: #d1a1c2;
}

// Navbar styling

#brand {
  font-size:1.75em;
  color: #9a35b2;
}

#sign-up-title, #login-title {
  font-family: sans-serif;
  font-size: 1.25em;
}

.dropdown-menu {
  width:350px;
}

#dropdownMenu1 {
  padding: 0;
}

.home-info-banner1-info {
  background-color:#d1a1c2;
}

.home-info-banner1-info h1 {
  margin:0;
  color: white;
  padding: 20px 0;
}

.why1, .why2, .why3 {
  width: 150px;
}

.jumbotron-banner1 {
  padding: 0;
}
