// Place all the styles related to the organizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new-org-submit-btn {
	width:50%;
}

.jumbotron-org {
	background-color: #add8e6;
}

.org-logo-box {
	padding: 20px;
	box-shadow: 5px 5px 3px 3px grey;
}

#org-link-btn a {
	color:white;
}

.org-details-box {
	position:relative;
	top:100px;
}
