<h1>Create your organization</h1>

<%= form_for Organization.new do |form| %>

    <%= form.hidden_field :user_id, value:current_user.id %>

    <%= render partial: '/organizations/form', object: form %>

<% end %>